* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

header {
    background-color: darkmagenta;
    color: white;
    font-size: 30px;
    padding: 15px;
    width: 100%;
}

#product-list-component {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: flex-start;
}

.termek {
    border: 2px solid black;
    border-radius: 7px;
    width: 250px;
    padding: 10px;
    background: white;
}

.termek img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.termek p {
    margin: 5px 0;
}

#forms-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    margin-bottom: 150px;
}

#create-product,
#edit-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 280px;
    padding: 15px;
    border: 2px solid darkmagenta;
    border-radius: 8px;
    background: #f7e4ff;
}

#create-product input,
#edit-product input {
    width: 200px;
    padding: 8px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#create-product button,
#edit-product button {
    padding: 8px 16px;
    cursor: pointer;
    align-self: center;
    width: 200px;
    height: 40px;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

#create-product button:hover,
#edit-product button:hover {
    background-color: #b300b3;
}

#create-product label,
#edit-product label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

#create-product input[type="checkbox"],
#edit-product input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;
    margin-left: 20px;
}

footer {
    background-color: darkmagenta;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#edit-product {
    display: none;
}
#stock{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}