body {
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    margin: 30px;
}
#create-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 15%;
    width: 100%;
}
#create-product input{
    width: 200px;
    padding: 8px;
    height: 40px;
}
#create-product button{
    padding: 8px 16px;
    cursor: pointer;
    align-self: center;
    width: 200px;
    height: 40px;
}
#create-product label {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}