@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

header {
    height: 400px;
    background-image: url("../img/balaton_bg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #06435f !important;
}

nav a:active {
    background-color: rgba(255, 255, 255, .2);
}


h1, h2, footer, th {
    font-family: "Marhey", sans-serif;
}


main {
    width: 85%;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
}

h2 {
    font-variant: small-caps;
    text-decoration: underline wavy;
    color: #1283b9;
}

.lake {
    box-shadow: 1px 1px 3px #06435f;
}

table{
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 10px;

}

table thead tr:first-child{
    background-color: #1283b9;
}

table thead tr:nth-child(2) {
    background-color: #06435f;
}

table thead tr th {
    color:white;
    text-align: center;
}

table tbody tr td {
    background-color: rgb(173, 216, 230, 0.9);
}
table tbody tr td:hover {
    background-color: rgb(173, 216, 230, 0.3);
}

table tbody tr td:first-child{
    font-variant: small-caps;
    font-weight: bold;
    width: 25%;
}

@media screen and (max-width: 992px){
    h1 {
        font-size: 1.5rem;
    }
}