select {
    background: white,  none repeat scroll 0 0; 
    color: #292f38;
    font-size: 14px;
     background: #f5f7f8,  none repeat scroll 0 0; 
     border-bottom: 2px solid #e4e4e2; 
     border-radius: 4px;
      border-left: 2px solid #e4e4e2;
       border-right: 2px solid #e4e4e2;
        border-top: 2px solid #e4e4e2;
         height: 29px; 
         cursor:pointer; 
         left: 0;
         width:100%;
}

#akcio {
color: red;
align-items:flex-end;

}